Archive
<ul>
    <li>
        {% for date in calendar %}
            {% if loop.first %}
                {% set currentYear = date.year %}
        <label>{{ date.year }}</label>
        <ul>
            {% endif %}

            {% if currentYear != date.year %}
                {% set currentYear = date.year %}
                </ul>
    </li>
    <li class="divider"></li>
    <li>
        <label>{{ date.year }}</label>
        <ul>
            {% endif %}
            <li>
                <a href="{{ path('xaben_blog_date', {'year': date.year, 'month': date.month}) }}">{{ date('2012-' ~ date.month ~ '-01') | date('F') }} ({{ date.count }})</a>
            </li>
            {% if loop.last %}
        </ul>
            {% endif %}
        {% endfor %}
    </li>
</ul>

