Categories
<ul>
    {% for category in categories %}
        <li>
            <a href="{{ path('xaben_blog_category', {'id': category.id, 'slug': category.slug }) }}">{{ category.title }}</a>
        </li>
    {% endfor %}
</ul>
