<article>
    <header>
        {% if post.cover %}
            <a href="{{ path('xaben_blog_post', {'id': post.id, 'slug': post.slug, 'month': post.published|date('m'), 'year': post.published|date('Y')}) }}">
                {% thumbnail post.cover, 'default' with { 'alt': post.title } %}
            </a>
        {% endif %}
        <h1>
            <a href="{{ path('xaben_blog_post', {'id': post.id, 'slug': post.slug, 'month': post.published|date('m'), 'year': post.published|date('Y')}) }}">{{ post.title }}</a>
        </h1>
        <p>
            <time datetime="{{ post.published | date("c") }}">{{ post.published | localizeddate('full', 'none', app.request.locale ) }}</time> in
            <a href="{{ path('xaben_blog_category', {'slug': post.category.slug, 'id': post.category.id }) }}">{{ post.category.title }}</a>, {{ post.views }} views
        </p>
    </header>
    <div class="body">
        {{ post.description|raw }}
    </div>
    <footer>
        {% if post.description != post.content %}
            <a href="{{ path('xaben_blog_post', {'id': post.id, 'slug': post.slug, 'month': post.published|date('m'), 'year': post.published|date('Y')}) }}">Read more</a>
        {% endif %}
    </footer>
</article>
