{% extends 'XabenBlogBundle::layout.html.twig' %}

{% block title %}Blog{% endblock %}

{% block page %}
    {% for post in posts %}
        {% include 'XabenBlogBundle:Partials:post_list_item.html.twig' with {'post': post, 'loop': loop} only %}
    {% endfor %}
    <div class="pagination">
        {{ knp_pagination_render(posts) }}
    </div>
{% endblock %}
