{% extends 'XabenBlogBundle::layout.html.twig' %}

{% block title %}{{ post.title }} - Blog{% endblock %}

{% block page %}
    <article class="Blog__post">
        <header>
            {% if post.cover %}
                {% thumbnail post.cover, 'default' with { 'alt': post.title } %}
            {% endif %}
            <h1>{{ post.title }}</h1>
            <time datetime="{{ post.published | date("c") }}">{{ post.published | localizeddate('full', 'none', app.request.locale ) }}</time> <br>
            <a href="{{ path('xaben_blog_category', {'slug': post.category.slug, 'id': post.category.id }) }}">
                {{ post.category.title }}
            </a><br>
            {{ post.views }} views
        </header>

        <div class="body">
            {{ post.content|raw }}
        </div>

        <footer>
            <span class="">Tags</span>
            {% for tag in post.tags %}
                <a href="{{ path('xaben_blog_tag', {'id': tag.id, 'slug': tag.slug}) }}">{{ tag.title }}</a>
            {% endfor %}
        </footer>
    </article>
{% endblock %}

{% block facebook %}
    <meta property="og:url" content="{{ url('xaben_blog_post', {'id': post.id, 'slug': post.slug, 'month': post.published|date('m'), 'year': post.published|date('Y')}) }}" />
    <meta property="og:title" content="{{ post.title }}" />
    <meta property="og:description" content="{{ post.description | striptags | truncate(300) }}" />
    <meta property="og:type" content="article" />
    {% if post.cover %}
        <meta property="og:image" content="{{ app.request.getSchemeAndHttpHost() }}{%- path post.cover, 'default' -%}" />
    {% endif %}
{% endblock %}

{% block description %}{% if post %}{{ post.seodesc }}{% endif %}{% endblock %}

{% block keywords %}{% if post %}{{ post.keywords }}{% endif %}{% endblock %}
