{# src/Acme/DemoBundle/Resources/views/Form/fields.html.twig #}
{% block blog_tag_selector_widget %}
    {% spaceless %}
        <script type="text/javascript">$( document ).ready(function() {

                $("input[data-xaben='blog']").select2({
                    tags: true,
                    tokenSeparators: [";"],
                    separator: [";"],
                    minimumInputLength: 2,
                    id: function(object) { return object.text; },
                    createSearchChoice: function(term, data) {

                        if ($(data).filter(function() {
                                    return this.text.localeCompare(term) === 0;
                                }).length === 0) {
                            return {
                                id: term,
                                text: term
                            };
                        }
                    },
                    ajax: {
                        url: "/blog/tags/get",
                        dataType: 'json',
                        quietMillis: 100,
                        data: function (term, page) {
                            return {
                                q: term
                            };
                        },
                        results: function (data, page) {
                            return { results: data };
                        },
                        formatResult: formatValues,
                        formatSelection: formatValues
                    },
                    initSelection : function (element, callback) {
                        var data = [];
                        $(element.val().split(";")).each(function () {
                            data.push({id: this, text: this});
                        });
                        callback(data);
                    }
                });
            });

            function formatValues(data) {
                return data.text;
            }
        </script>
        <div class="control-group">
            {{ form_errors(form) }}
            <div class="controls sonata-ba-field sonata-ba-field-list-natural">
                {{ form_widget(form) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock %}